body {
    background-color: darkSeagreen; 
}

@media only :
and (min-device-width : 201px)
and (max-device-width : 481px)
and (orientation : landscape){
#div {margin-top: 21px;}
}

}
@media only :
and (min-device-width : 482px)
and (max-device-width: 1025px)
and (orientation : portrait){
{margin-top: 21px;}
}

.elementToFadeInAndOut {
    width:196px;
    height: 55px;
    position: absolute; 
    top: 0px; 
    left: 0px;
    background: darkSeagreen;
    -webkit-animation: fadeinout .5s linear forwards; 
    animation: fadeinout .5s linear forwards; 
    opacity: 1; 
}

@-webkit-keyframes fadeinout {
    100% { opacity: 0; }
}

@keyframes fadeinout {
    100% { opacity: 0; }
}

div {
  font-family: sans-serif, "times new roman"; 
  font-size: 16px; 
  font-style: normal; 
  text-align: center; 
}